body{
    background-color: aqua;
    width: 500px;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container{
    background-color: aliceblue;
    border-radius: 8px;
    width: 300px;
}

.text{
    margin-top: 16px;
}

a{
    color: blue;
    text-decoration: none;
}

.plan{
    background-color: rgb(165, 161, 161);
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;
}

.btn{
    padding: 16px;
    margin-top: 5px;
}

.pay{
    background-color: blue;
    height: 30px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.run{
    border: none;
    width: 200px;
    margin-top: 5px;
}